@using BlazorApp.Data
@inject FirebaseAuthStateProvider AuthProvider

<CascadingAuthenticationState>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)"
                                Context="context">
                <NotAuthorized>
                    @if (!AuthProvider.IsInitialized)
                    {
                        <p>Loading authentication...</p>
                    }
                    else if (context.User.Identity?.IsAuthenticated ?? false)
                    {
                        <p>You are not allowed to access this page.</p>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <p>Page not found.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>