@page "/about"

<PageTitle>About</PageTitle>

<h1>About this site</h1>
<p>A new way to fill out brackets!</p>

<h3>The Bracket</h3>
<p>- The bracket is set with the 2022 tournament selections.</p>
<p>- To fill out the bracket, simply click on the team you think will win each matchup.</p>
<p>- Once filled, you will see your selected bracket winner as the Champion.</p>

<h3>Stats</h3>
<p>- The Mathmatical equation is Team 2 Seed divided by the sum of both teams' Seeds.</p>
<p>- The Historical equation is data gathered on seed matchups in previous tournaments.</p>
<p>- The 538 Odds equation uses round by round probabilities from fivethirtyeight.com.</p>
<p>- The Coin Flip equation returns .5 to mimic the odds of a coin flip.</p>
<p>- The Random equation uses a random decimal between 0 and 1.</p>

<h3>Auto-Fill</h3>
<p>- Auto-Fill compares the outcome of the chosen stat equation and a random decimal between 0 and 1.</p>
<p>- If the stat equation outcome is greater than or equal to the random decimal, Team 1 wins. Otherwise, Team 2 wins.</p>

<h3>Clear</h3>
<p>- Clear will remove all current selections from the bracket.</p>
<p>- A quick way to start with a fresh bracket.</p>

<h3>Export (Coming Soon)</h3>
<p>- A quick way to export this bracket to one of the leading bracket sites.</p>
<p>- Current bracket hosts available are: ESPN, CBS, Yahoo, and NCAA.</p>
<p>- Username and Password are collected to perform sign in only.</p>
<p>- Usernames and Passwords are not saved or sold.</p>
<p>- Current functionality opens a new tab to the selected host.</p>
