table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.stat-table {
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 0;
}

thead td {
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    width: fit-content;
    position: relative;
}

.highlight-cell {
    background-color: gold;
}

th:hover {
    background-color: #ffa;
}

body:not(.nohover) tr:hover {
    background-color: #ffa;
}

td:hover {
    background-color: #aafffc;
}

td:hover::before,
th:hover::before {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: -5000px;
    top: 0;
    height: 100%;
    width: 10000px;
    z-index: -1;
}

td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

table thead tr th:first-child,
table tbody tr th:first-child {
    width: 150px;
}

@media (max-width:700px) {
    .stats-body {
        overflow: scroll;
        overflow-y: hidden;
    }
}